{% extends 'base.html' %}


{% block content %}

<div class='dashboard-app'>
    <div class='dashboard-content'>
        <div class='container'>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-5 text text-center">About:-</h1>
                    <hr>    
                    
                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
                    <p class="text-center">We will help you manage your day to day expense and income....</p>
                    <p>You will be given access once you signup and login properly after verification. You can add your daily expense and income with the help of 'Add Expense' and 'Add Income' page. After successfully adding the deatils you can view all your expenses and incomes with the help of 'View Expense' and 'View Income' page. In this pages you can sort your records by the date and amount, also you can filter your record by category. If you have entered wrong details, don't worry, you can go to the view expense/income page, click on 'Edit' and you will be able to update the record. You can delete the record as well by clicking on the 'Delete' of the particular record. To view your total amount of expense & income and your net balance, you can go to dashboard. Click on social media icons to connect with us.</p>
                    <p>Our Details:- <br>
                    Email - tracker@info.co.in <br>
                    Phone - 94xxxxxx80 <br>
                    Address - Cyber City, Gurgaon, Haryana.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}